<style>
            body{
                height: 100%;
                background-color: #F3F1E9;
            }
            label{
                display: inline-block;
                width: 120px;
            }
            input{
                display: inline-block;
                width: 160px;
            }
</style>
